  <h1><%= @restaurant.name %></h1>
  <ul>
    <li>Type of food: <%= @restaurant.category %></li>
    <li>Phone Number: <%= @restaurant.phone_number %></li>
  </ul>

  <p><strong>Reviews</strong></p>

  <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        <small>
          <% count = 0 %>
          <% 5.times do %>
            <% if review.rating > count %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
            <% count += 1 %>
          <% end %>
        </small>
        <%= review.content %>
        <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </li>
    <% end %>
  </ul>
  <br>

  <br>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %>
  <br>
  <%= link_to "Delete this restaurant", restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
  <br>
  <%= link_to "Back to all restaurants", restaurants_path %>
